{% extends "layout.html" %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block parallax %}
    <h2 class="page-title">Expérience</h2>
{% endblock %}

{% block content %}
    <div class="sized">
        <div class="mtl">
            <h3 class="zeta">Mon expérience</h3>
            <div class="mtl">
                <p class="bold">Peexeo</p>
                <p class="mts">Développeur web</p>
                <p class="emphasis mts">Lyon (69) &ndash; OCT. 2012 &ndash; OCT. 2015</p>
                <p class="mts">Référent technique. Rôle de liaison entre les différents métiers de l'agence. Animation de formations pour des professionnels et des particuliers.</p>
            </div>
            <div class="mtl">
                <p class="bold">MB Création</p>
                <p class="mts">Développeur web</p>
                <p class="emphasis mts">Lyon (69) &ndash; DÉC. 2011 &ndash; JUIN 2012</p>
                <p class="mts">Création de thèmes et plugins WordPress. Développement PHP sur-mesure.</p>
            </div>
            <div class="mtl">
                <p class="bold">Noodle (Groupe Australie)</p>
                <p class="mts">Designer web & développeur web</p>
                <p class="emphasis mts">Paris (75) &ndash; MARS 2011 &ndash; OCT. 2011</p>
                <p class="mts">Intégration HTML & CSS. Développement sous CakePHP. Challenges techniques pour des clients grands comptes.</p>
            </div>
            <div class="mtl">
                <p class="bold">Wordappeal</p>
                <p class="mts">Graphiste web & print</p>
                <p class="emphasis mts">Paris (75) &ndash; AO&Ucirc;T 2010 &ndash; FÉV. 2011</p>
                <p class="mts">Design et intégration d'applications web et publications print pour des grands comptes.</p>
            </div>
        </div>
        <div class="sized">
            <div class="mtl">
                <p class="zeta">Intéressé par mon expérience ?</p>
                <a class="btn" href="{{ url('contact') }}">Contactez-moi !</a>
            </div>
        </div>
    </div>
{% endblock %}
