{% extends "layout.html" %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block parallax %}
    <h2 class="page-title">Expérience</h2>
{% endblock %}

{% block content %}
    <div class="sized">
        <div class="mtl">
            <h3 class="zeta">Mon expérience</h3>
            <div class="mtl">
                <p class="bold">Peexeo</p>
                <p class="mts">Développeur web</p>
                <p class="emphasis mts">Lyon (69) &ndash; OCT. 2012 &ndash; Aujourd'hui</p>
                <p class="mts">Je suis en charge du développement des sites Internet de l'agence. J'assure des formations WordPress pour des particuliers ou des professionnels. Je veille au bon déroulement des projets web de l'agence ainsi que la formation des stagiaires.</p>
            </div>
            <div class="mtl">
                <p class="bold">MB Création</p>
                <p class="mts">Développeur web</p>
                <p class="emphasis mts">Lyon (69) &ndash; DÉC. 2011 &ndash; JUIN 2012</p>
                <p class="mts">J'ai assuré la réalisation de sites Internet, l'intégration de thèmes et la création de plugins WordPress ainsi que le développement d'outils de gestion de contenus personnalisés.</p>
            </div>
            <div class="mtl">
                <p class="bold">Noodle (Groupe Australie)</p>
                <p class="mts">Designer web & développeur web</p>
                <p class="emphasis mts">Paris (75) &ndash; MARS 2011 &ndash; OCT. 2011</p>
                <p class="mts">J'ai assuré la réalisation d'application en ligne (design, intégration et développement) de sites institutionnels, newsletters, mini-sites événementiels, application facebook, etc. pour des clients tels que Seat, MobilBox, E.Leclerc, CIC, Nocibé, Virgin Mobile, Voyages SNCF, etc. J'ai travaillé avec le framework CakePHP.</p>
            </div>
            <div class="mtl">
                <p class="bold">Wordappeal</p>
                <p class="mts">Graphiste web & print</p>
                <p class="emphasis mts">Paris (75) &ndash; AO&Ucirc;T 2010 &ndash; FÉV. 2010</p>
                <p class="mts">Au sein de l'équipe de design et d'intégration web, j'ai participé à la création de livrables (intranets, sites institutionnels, newsletters, mini-sites événementiels, publications print, etc.) pour des clients tels que Bongrain, Caisse d'Epargne, <br>GDF Suez, Pôle Emploi, SFR, etc.</p>
            </div>
        </div>
        <div class="sized">
            <div class="mtl">
                <p class="zeta">Intéressé par mon expérience ?</p>
                <a class="btn" href="{{ url('contact') }}">Contactez-moi !</a>
            </div>
        </div>
    </div>
{% endblock %}
