{% extends "layout.html" %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block parallax %}
    <h2 class="page-title">Projets</h2>
{% endblock %}

{% block content %}
    <div class="sized">
        <div class="mtl">
            <h3 class="zeta">Mes projets</h3>
            <p class="mts">Voici une liste de diverses ressources publiques hébérgées sur Github destinées à enrichir mon expérience, mes compétences ou améliorer ma productivité.</p>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/confusion-barometer" class="link">Baromètre de confusion</a></p>
                <p>Outils permettant à des apprenants de montrer lorsqu'ils sont confus à propos d'un concept abordé lors d'un cours ou d'une formation.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/restaurand" class="link">Restaurand</a></p>
                <p>Application qui genère une liste de restaurants aléatoire simplifiant le choix de l'endroit où aller manger avec ses amis ou ses collègues.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/restaurand-api" class="link">Restaurand API</a></p>
                <p>API et espace d'administration pour l'application Restaurand.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/gridsy" class="link">Gridsy</a></p>
                <p>Gridsy est un outils de système de grille CSS.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/wpsh" class="link">WPSH</a></p>
                <p>WPSH est un script bash permettant l'installation d'un environnment WordPress d'une simple commande.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/vagrant-ansible" class="link">Vagrant Ansible</a></p>
                <p>Environnement de développement Vagrant provisionné par Ansible.</p>
            </div>
            <div class="mtm">
                <p class="bold"><a href="https://github.com/dflorent/florentdesjardins.fr" class="link">florentdesjardins.fr</a></p>
                <p>Code source de mon site internet.</p>
            </div>
        </div>
        <div class="sized">
            <div class="mtl">
                <p class="zeta">Vous aimez ?</p>
                <a class="btn" href="{{ url('contact') }}">Contactez-moi !</a>
            </div>
        </div>
    </div>
{% endblock %}
