/*
    =Formulaires
---------------------------------------------------------------------------- */

label,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    -webkit-appearance: button;
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"] {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
    min-height: 280px;
}

label,
button,
input,
select {
    vertical-align: middle;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    @include border-radius(6px);
    color: #666;
    border: solid 1px $silver;
    font-size: 13px;
    padding: 8px 5px;
    width: 100%;

    @media (min-width: 961px) {
        & {
            width: 65%;
        }
    }
}

form ul li {
    color: $pomegranate;
}