/*
    =Spacing helpers
---------------------------------------------------------------------------- */

.m-reset,
.ma0 {
  margin: 0;
}

.p-reset,
.pa0 {
  padding: 0;
}

.ma1,
.mas {
  margin: 1em;
}

.ma2,
.mam {
  margin: 2em;
}

.ma3,
.mal {
  margin: 3em;
}

.pa1,
.pas {
  padding: 1em;
}

.pa2,
.pam {
  padding: 2em;
}

.pa3,
.pal {
  padding: 3em;
}

.mt0,
.mtn {
  margin-top: 0;
}

.mt1,
.mts {
  margin-top: 1em;
}

.mt2,
.mtm {
  margin-top: 2em;
}

.mt3,
.mtl {
  margin-top: 3em;
}

.mr0,
.mrn {
  margin-right: 0;
}

.mr1,
.mrs {
  margin-right: 1em;
}

.mr2,
.mrm {
  margin-right: 2em;
}

.mr3,
.mrl {
  margin-right: 3em;
}

.mb0,
.mbn {
  margin-bottom: 0;
}

.mb1,
.mbs {
  margin-bottom: 1em;
}

.mb2,
.mbm {
  margin-bottom: 2em;
}

.mb3,
.mbl {
  margin-bottom: 3em;
}

.ml0,
.mln {
  margin-left: 0;
}

.ml1,
.mls {
  margin-left: 1em;
}

.ml2,
.mlm {
  margin-left: 2em;
}

.ml3,
.mll {
  margin-left: 3em;
}

.pt0,
.ptn {
  padding-top: 0;
}

.pt1,
.pts {
  padding-top: 1em;
}

.pt2,
.ptm {
  padding-top: 2em;
}

.pt3,
.ptl {
  padding-top: 3em;
}

.pr0,
.prn {
  padding-right: 0;
}

.pr1,
.prs {
  padding-right: 1em;
}

.pr2,
.prm {
  padding-right: 2em;
}

.pr3,
.prl {
  padding-right: 3em;
}

.pb0,
.pbn {
  padding-bottom: 0;
}

.pb1,
.pbs {
  padding-bottom: 1em;
}

.pb2,
.pbm {
  padding-bottom: 2em;
}

.pb3,
.pbl {
  padding-bottom: 3em;
}

.pl0,
.pln {
  padding-left: 0;
}

.pl1,
.pls {
  padding-left: 1em;
}

.pl2,
.plm {
  padding-left: 2em;
}

.pl3,
.pll {
  padding-left: 3em;
}